.puzzle-game-container {
  width: 80%;
  margin: 10px auto;
  overflow: hidden;
}

.puzzle-game-btn {
  width: 95% !important;
  height: 95% !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.puzzle-game-form {
  background: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0px;
  text-align: center;
  position: relative;
}

.puzzle-game-form-3 {
  left: 35%;
  max-width: 30%;
}

.puzzle-game-form-4 {
  left: 30%;
  max-width: 40%;
}

.puzzle-game-form-5 {
  left: 30%;
  max-width: 40%;
}

.puzzle-game-form-6 {
  left: 32%;
  max-width: 36%;
}

.grid {
  display: grid;
  position: relative;
}

.grid-3 {
  grid-template-columns: repeat(auto-fill, 10%);
  left: 35%; /* (100 - (10% * 3)) / 2 */
}

.grid-4 {
  grid-template-columns: repeat(auto-fill, 10%);
  left: 30%; /* (100 - (10% * 4)) / 2 */
}

.grid-5 {
  grid-template-columns: repeat(auto-fill, 8%);
  left: 30%; /* (100 - (8% * 5)) / 2 */
}

.grid-6 {
  grid-template-columns: repeat(auto-fill, 6%);
  left: 32%; /* (100 - (6% * 6)) / 2 */
}

@media all and (max-width: 768px) {
  .puzzle-game-form {
    position: inherit !important;
  }

  .puzzle-game-form-3 {
    max-width: 98%;
  }
  
  .puzzle-game-form-4 {
    max-width: 99%;
  }
  
  .puzzle-game-form-5 {
    max-width: 99%;
  }
  
  .puzzle-game-form-6 {
    max-width: 99%;
  }

  .grid {
    display: grid;
    position: inherit;
  }

  .grid-3 {
    grid-template-columns: repeat(auto-fill, 33.33%);
    left: 0%;
  }

  .grid-4 {
    grid-template-columns: repeat(auto-fill, 25%);
  }

  .grid-5 {
    grid-template-columns: repeat(auto-fill, 20%);
  }

  .grid-6 {
    grid-template-columns: repeat(auto-fill, 16.66%);
  }
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
