.page-layout {
  margin: 10px;
  padding: 10px;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: fill;
}

.story-reader-title {
  font-size: 4rem !important;
}

.member-thumbnail {
  width: 20vw;
  height: 20vw;
}

.member-detail {
  padding: 30px;
}

blockquote{
  font-size: 1.4em;
  width: 100%;
  margin: 50px auto;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #8403FC ;
  position: relative;
  background: #EDEDED;
}

blockquote::before{
  content: "\201C";
  color: #8403FC;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.story-img {
  object-fit: contain;
}

.nav-link {
  font-size: large;
  font-weight: bold;
}

.navbar-expand {
  flex-flow: row wrap;
  justify-content: center;
}

.custom-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px 10px;
  padding: 5px 5px;
  flex-direction: row;
  background: none !important;
}

/* On mouse-over, add a deeper shadow */
.custom-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.custom-card-container {
  padding: 10px 16px;
  text-align: justify;
}

.custom-card-img {
  width: 50%;
  height: 40vh;
}

.custom-card-container h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.col {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
