body {
  background: linear-gradient(45deg, #ee775280, #e73c7e80, #23a6d580, #23d5ab80);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.page-layout {
  margin: 30px;
  padding: 30px;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: fill;
}

.story-reader-title {
  font-size: 4rem !important;
}

.member-thumbnail {
  width: 20vw;
  height: 20vw;
}

.member-detail {
  padding: 30px;
}

blockquote{
  font-size: 1.4em;
  width: 100%;
  margin: 50px auto;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #8403FC ;
  position: relative;
  background: #EDEDED;
}

blockquote::before{
  content: "\201C";
  color: #8403FC;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.story-preview-card {
  height: 100% !important;
}

.story-preview-col {
  margin: 15px;
}

.story-preview-img {
  object-fit: contain;
}

.story-img {
  object-fit: contain;
}
