@media screen and (max-width: 800px) {
  .page-layout {
    margin: 5px;
    padding: 5px;
  }

  .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .card-img-top {
    width: 100%;
    height: 100vw;
    object-fit: fill;
  }

  .story-preview-col {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  blockquote{
    font-size: 1.4em;
    width: 100%;
    margin: 15px auto;
    font-style: italic;
    color: #555555;
    padding: 1em 20px 1em 30px;
    border-left: 5px solid #8403FC ;
    position: relative;
    background: #EDEDED;
  }

  blockquote::before{
    content: "\201C";
    color: #8403FC;
    font-size: 3em;
    position: absolute;
    left: 3px;
    top: -5px;
  }

  .member-thumbnail {
    width: 50vw;
    height: 50vw;
  }
  
  .member-detail {
    padding: 30px;
  }

  .fun-facts-image {
    width: 60vw;
    height: 20vh;
  }
}
